extends ./_layouts/_layout.pug

block pageInfo
  title index page
  
block content
  include ./_layouts/_header.pug
  main
    ol#topic_path
      li: a(href="") HOME
  include ./_layouts/_footer.pug
