extends ./_layouts/_layout.pug

block pageInfo
  title index page
  
block content
  header
    h1 キムさんのブログ
    img(src="assets/images/mockup11.jpg" alt="メインイメージ画像")
  main
    h1 this is title
    p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah 
    p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
    section
      h2 this is subtitle
      p blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
      p blah blah blah blah blah blah
    section
      h2 this is subtitle
      img(src="assets/images/mockup01.jpg" alt="メインイメージ画像")
      p blah blah blah blah blah blah blah blah blah blah blah
      p blah blah blah blah blah blah blah blah blah blah blah
  footer
    nav
      ul
        li blog 
        li about
        li contact
    small copy right キムさん 2017
