/*---------------------------------------/
 * COMMON
/---------------------------------------*/
// base font styles
html {
  font-family: $font_family;
  color: $c1;
}
//bx-size
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

// mcoffee
header {
  border-top: 10px solid #511717;
  h1 {
    margin: 50px 0 30px 0;
    text-align: center;
  }
  nav {
    $acitve_color: #000;
    ul {
      width: 940px;
      padding-left: 0;
      margin-left: 0;
      margin: 0 auto 30px auto;
      list-style-type: none;
      li {
        width: 155px;
        margin-right: 2px;
        float: left;
        text-align: center;
        &:last-child{
          margin-right: 0;
        }
        a {
          text-decoration: none;
          background-color: #511717;
          color: #fff;
          padding: 10px 0;
          display: block;
        }
      }
      // active class
      .current a,
      a:hover,
      a:active {
        background-color: $acitve_color;
      }
    }
  }
}

.clearfix:after {
  content:"";
  display: block;
  clear: both;
}
main {
  width: 940px;
  margin: 0 auto;
}

footer {
  background-color: #511717;
  color: #fff;
  padding: 30px 0;
  text-align: center;
  ul {
    padding: 0;
    margin-bottom: 30px;
    li {
      display: inline;
      margin: 0 10px;
      a {
        color: #fff;
        &:link,
        &:visited {
          text-decoration: none;
        }
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}
