/*---------------------------------------/
 * COMMON
/---------------------------------------*/
// base font styles
html {
  font-family: $font_family;
  color: $c1;
}
//bx-size
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

// mcoffee
header {
  border-top: 10px solid #511717;
}
header h1 {
  margin: 50px 0 30px 0;
  text-align: center;
}
header nav ul {
  width: 940px;
  padding-left: 0;
  margin-left: 0;
  margin: 0 auto 30px auto;
  list-style-type: none;
}
header nav ul li {
  width: 155px;
  margin-right: 2px;
  float: left;
  text-align: center;
}
header nav ul li:last-child {
  margin-right: 0;
}
.clearfix:after {
  content:"";
  display: block;
  clear: both;
}
header nav ul li a {
  text-decoration: none;
  background-color: #511717;
  color: #fff;
  padding: 10px 0;
  display: block;
}
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a {
  background-color: #000;
}
