/*---------------------------------------/
 * COMMON
/---------------------------------------*/
// base font styles
html {
  font-family: $font_family;
  color: $c1;
}
//bx-size
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
