//-------------------------------------
// size
//-------------------------------------
$width: 1200px;

//-------------------------------------
// Color
// http://www.materialui.co/colors
//-------------------------------------
$c1: #212121;
$c2: white;
$c3: #9E9E9E;
$c4: #DA4453;
$c5: #4A89DC;
$c6: #F6BB42;

//-------------------------------------
// Fonts
//-------------------------------------
$font_family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
