footer
  ul
    li: a(href="index.html") HOME
    li: a(href="about.html") 店舗紹介
    li: a(href="menu.html") メニュー
    li: a(href="coupon.html") クーポン
    li: a(href="access.html") アクセス
    li: a(href="contact.html") お問い合わせ
  small Copyright &copy; 2017 Mr M COFFEE, All Rights Reserved.
