header
  h1: a(href="./index.html"): img(src="./assets/images/logo.png" alt="カフェ MR.M COFFEE")
  nav: ul.clearfix
    ol#topic_path
      li: a(href="./index.html") HOME
      li: a(href="./about.html") ABOUT
      li: a(href="./about.html") MENU
      li: a(href="") COUPON
      li: a(href="./access.html") ACCESS
      li: a(href="./blog.html") BLOG
  
